@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

body {
    background-color: #280274;
}

.titulo-header {
    text-align: center;
    color: #ffffff;
    font-family: "League Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 7rem;
    margin-top: 1%;
    margin-left: 0%;
}

.apresentacao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5.5rem;
}

.linha {
    border: 3px solid #ffffff;
    border-radius: 10px;
    margin: 1%;
    height: 19rem;
}

.titulo {
    color: #ffffff;
    font-family: "League Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    text-align: center;
}

.problema, .solucao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.link {
    text-decoration: none;
    color: #ffffff;
    font-family: "League Gothic", sans-serif;
    font-size: 1.5rem;
}

.link:hover {
    color: black;
    font-weight: 800;
}

@media (max-width: 768px) {
    .apresentacao {
        flex-direction: column;
        gap: 2rem; 
        margin: 2% 1%; 
    }

    .linha {
        width: 90%; 
        height: auto; 
        margin: 0 auto; 
    }

    .titulo-header {
        margin-top: 10%;
        margin-bottom: 15%;
    }

    .link {
        font-size: 1.75rem;
    }

    .problema, .solucao {
        gap: 1.5rem;
    }
    
}